html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
.nav-scroller{
    font-size: 15px;
    font-weight: 400;
    
}
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2rem;
}
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.title > a {
    color: rgba(0,0,0,.84)!important;
    fill: rgba(0,0,0,.84)!important;
}

.subtitle, .post-date {
    color: rgba(0,0,0,.54)!important;
    fill: rgba(0,0,0,.54)!important;
    margin: 0;
}

.post-date{
    margin-top: 5px;
    font-size: 12px;
}

.preview {
    max-height: 150px;
    overflow-y: hidden;
}